body {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  color: #1D1F2E;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  color: #1D1F2E;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item a {
  color: #1D1F2E;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.btn-sort {
  width: 90px;
  height: 26px;
}

.hero {
  background-color: #050827;
  height: 530px;
  margin-top: 100px;
  color: #FFFFFF;
  background-image: url("/img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  text-align: center;
}

.hero h6 {
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 159px;
  color: #FFFFFF;
}

.hero h1 {
  font-size: 47px;
  line-height: 60px;
  margin: 10px 0;
}

.hero p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 48px;
}

.hero span {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
          box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  color: #1D1F2E;
  padding: 0 30px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__title {
  text-align: center;
}

.main h3 {
  font-size: 28px;
  width: 578px;
  height: 80px;
  line-height: 40px;
  margin-top: 100px;
}

.main p {
  font-size: 16px;
  width: 658px;
  height: 112px;
  line-height: 28px;
  margin: 16px 0 21px 0;
}

.main button {
  color: #A25F4B;
  width: 133px;
  height: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  background: none;
  position: relative;
}

.main button:before {
  content: "";
  position: absolute;
  height: 2px;
  background: rgba(162, 95, 75, 0.2);
  width: 133px;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h6 {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  margin: 100px 0;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1D1F2E;
  text-align: center;
  margin: 35px 0 5px 0;
}

.item span {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 15px;
}

.Products .item:nth-child(n+4):nth-child(-n+9) {
  margin-top: 50px;
}

.offer__let {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 160px;
      grid-template-columns: 280px 160px;
  -ms-grid-rows: 280px;
      grid-template-rows: 280px;
}

.box1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 20px;
}

.box3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.offer_together {
  margin-left: 20px;
}

.offer__right {
  margin-left: 80px;
  width: 460px;
  height: 460px;
}

.offer__right h2 {
  font-size: 36px;
  line-height: 50px;
  margin-top: 14px;
  height: 100px;
  width: 237px;
}

.offer__right h6 {
  margin: 0;
}

.offer__right p {
  font-size: 16px;
  line-height: 28px;
  margin: 15px 0 34px 0;
  height: 56px;
  width: 353px;
}

.btn {
  background: #1D1F2E;
  color: #FFFFFF;
  width: 173px;
  height: 36px;
  text-transform: uppercase;
}

.body__bg {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 340px;
}

.story__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.story__item {
  width: 300px;
  height: 553px;
}

.story__item h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #1D1F2E;
  margin: 29px 0 10px 0;
}

.story__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 16px;
}

.story__item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subscribe {
  background-color: #1D1F2E;
  height: 327px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 162px;
}

.subscribe h6 {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  position: relative;
}

.subscribe h6:before {
  content: "";
  position: absolute;
  height: 1px;
  background: rgba(210, 210, 213, 0.1);
  width: 30px;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.subscribe h6:after {
  content: "";
  position: absolute;
  height: 1px;
  background: rgba(210, 210, 213, 0.1);
  width: 30px;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subscribe h2 {
  font-size: 36px;
  line-height: 50px;
  margin: 15px 0 25px 0;
}

.email {
  width: 350px;
  height: 54px;
  border: 1px solid #2F303E;
  background: none;
  text-align: center;
  color: #FFFFFF;
}

.input__btn {
  width: 129px;
  height: 54px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
          box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 10px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 88px;
  padding-bottom: 30px;
}

.footer__item {
  font-size: 14px;
  line-height: 22px;
}

.footer__item-info p {
  width: 258px;
  height: 44px;
  margin: 22px 55px 81px 0;
}

.footer__item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-items {
  margin-right: 81px;
}

.footer__menu-item a {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-item:first-child {
  margin-bottom: 23px;
  font-size: 12px;
  line-height: 18px;
  color: #1D1F2E;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__contacts p {
  margin: 22px 0 16px 0;
}

.footer__contacts address {
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  color: #1D1F2E;
}

.container {
  max-width: 965px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
